include CONTRIBUTING.rst
include ChangeLog
include AUTHORS
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include kolt/provision/userdata/ *

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
