[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

python-novaclient = "==10.1.0"
python-neutronclient = "==6.8.0"
python-cinderclient = "==3.5.0"
"mach.py" = "==0.4.1"
kubernetes = "==7.0.0"
pbr = "==4.0.2"
msgpack = "==0.5.6"
"oslo.i18n" = "==3.20.0"
wcwidth = "==0.1.7"
"oslo.config" = "==6.0.2"
munch = "==2.3.1"
monotonic = "==1.4"
decorator = "==4.2.1"
PrettyTable = "==0.7.2"
jsonpointer = "==2.0"
"cmd2" = "==0.8.4"
"dogpile.cache" = "==0.6.5"
netifaces = "==0.10.6"
os-client-config = "==1.29.0"
PyYAML = "==3.13"
"iso8601" = "==0.1.12"
debtcollector = "==1.19.0"
python-keystoneclient = "==3.15.0"
os-service-types = "==1.2.0"
"oslo.utils" = "==3.36.0"
"oslo.serialization" = "==2.25.0"
requests = "==2.18.4"
stevedore = "==1.28.0"
deprecation = "==2.0.2"
jmespath = "==0.9.3"
pytz = "==2018.4"
simplejson = "==3.13.2"
certifi = "==2018.1.18"
jsonpatch = "==1.23"
"urllib3" = "==1.22"
pyparsing = "==2.2.0"
netaddr = "==0.7.19"
Babel = "==2.5.3"
openstacksdk = "==0.12.0"
"keystoneauth1" = "==3.4.0"
"rfc3986" = "==1.1.0"
idna = "==2.6"
osc-lib = "==1.10.0"
wrapt = "==1.10.11"
cliff = "==2.11.0"
chardet = "==3.0.4"
requestsexceptions = "==1.4.0"
pyperclip = "==1.6.0"
cryptography = "*"


[dev-packages]

"flake8" = ">=3.5.0"
coverage = ">=4.5.1"
Sphinx = "==1.7.1"
twine = "==1.10.0"
pytest = "*"
pytest-coverage = "*"
pytest-runner = "*"
adal = "==1.1.0"
"asn1crypto" = "==0.24.0"
Babel = "==2.5.3"
cachetools = "==2.1.0"
certifi = "==2018.1.18"
cffi = "==1.11.5"
chardet = "==3.0.4"
cliff = "==2.11.0"
"cmd2" = "==0.8.4"
cryptography = "==2.1.4"
debtcollector = "==1.19.0"
decorator = "==4.2.1"
deprecation = "==2.0.2"
"dogpile.cache" = "==0.6.5"
google-auth = "==1.5.1"
idna = "==2.6"
"iso8601" = "==0.1.12"
jmespath = "==0.9.3"
jsonpatch = "==1.23"
jsonpointer = "==2.0"
"keystoneauth1" = "==3.4.0"
kubernetes = "==7.0.0"
"mach.py" = "==0.4.1"
monotonic = "==1.4"
msgpack = "==0.5.6"
munch = "==2.3.1"
netaddr = "==0.7.19"
netifaces = "==0.10.6"
oauthlib = "==2.1.0"
openstacksdk = "==0.12.0"
os-client-config = "==1.29.0"
os-service-types = "==1.2.0"
osc-lib = "==1.10.0"
"oslo.config" = "==6.0.2"
"oslo.i18n" = "==3.20.0"
"oslo.serialization" = "==2.25.0"
"oslo.utils" = "==3.36.0"
pbr = "==4.0.2"
PrettyTable = "==0.7.2"
"pyasn1" = "==0.4.4"
"pyasn1-modules" = "==0.2.2"
pycparser = "==2.19"
PyJWT = "==1.6.4"
pyparsing = "==2.2.0"
pyperclip = "==1.6.0"
python-cinderclient = "==3.5.0"
python-dateutil = "==2.7.3"
python-keystoneclient = "==3.15.0"
python-neutronclient = "==6.8.0"
python-novaclient = "==10.1.0"
pytz = "==2018.4"
PyYAML = "==3.13"
requests = "==2.18.4"
requests-oauthlib = "==1.0.0"
requestsexceptions = "==1.4.0"
"rfc3986" = "==1.1.0"
rsa = "==4.0"
simplejson = "==3.13.2"
stevedore = "==1.28.0"
"urllib3" = "==1.22"
wcwidth = "==0.1.7"
websocket-client = "==0.53.0"
wrapt = "==1.10.11"
